

body {
  margin: 0;
  font-family: Arial, sans-serif;
}



/* NAVBAR */



.main-navbar {
  width: 100%;
  background-color: black;
  padding: 10px 0; 
  display: flex;
  justify-content: center; 
  align-items: center; /
  
}

.main-logo {
  max-height: 135px; 
  height: auto; 
}

/* MEDIA QUERIE NAVBAR*/
@media (max-width: 600px) {
  .main-navbar {
    padding: 10px 0; 
  }

  .main-logo {
    max-height: 60px; 
  }
}




























/* IMAGEN TIPOS DE CARBÓN */



.image-title-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.section-image {
  
  width: 100%;
  max-width: 800px;
  height: auto; 
  border-top: 2px solid #ff8000;
  border-bottom: 2px solid #ff8000;
}

.titulo_inner {
  font-family: "Outfit", sans-serif;
  color: #56262b;
  font-size: 2rem;
  margin: 20px 0 0 0;
  text-align: center;
  border-bottom: 2px solid #ff8000;
  width: 100%;
  max-width: 800px;
}

/* MEDIA QUERIES TIPOS DE CARBÓN */
@media (max-width: 600px) {
  .titulo_inner {
    font-size: 1.5rem;
  }
}

























/* CARDS PRODUCTOS */




.main-container {
 
  background-color: black;
  max-width: 1280px;
 
  padding: 1rem;
}

h1 {
  text-align: center;
}

button {
  font-size: 1rem;
  padding: 0.35em 0.75em;
  line-height: 1;
  background-color: transparent;
  border: 0.125rem solid #2a2a2a;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.1s;
  outline: 0;
}
button:hover {
  background-color: #2a2a2a;
  color: #fff;
}
button .fa {
  font-size: 0.75em;
  margin-left: 0.5em;
}
button.accent-button {
  border-color: #56262b;
  color: #56262b;
}
button.accent-button:hover {
  background-color: #56262b;
  color: #fff;
}

.articles {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}
@media (max-width: 1140px) {
  .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .articles {
    grid-template-columns: repeat(1, 1fr);
  }
}

.article__image {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.article__image:before, .article__image:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.article__image:before {
  background-size: cover;
  background-position: center center;
  transform: scale(1);
  filter: blur(0);
  transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
}
.article__image:after {
  background: linear-gradient(30deg, #042A4F 0%, #E65891 100%);
  background-size: 100% 300%;
  background-position: bottom left;
  opacity: 0.15;
  transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
}
.article__image--1:before {
  background-image: url(../img/carbon-quebracho-01.png)
}
.article__image--2:before {
  background-image: url(../img/espino-1-1.png);
}
.article__image--3:before {
  background-image: url(../img/lena1-582f0ad54608d2abe916061474168070-640-0.png);
}

.article__details {
  margin: -3rem 1.5rem 0;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  transition: margin 0.2s ease-in-out;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.article__inner {
  overflow: hidden;
  height: 4.85rem;
  transition: height 0.2s ease-in-out;
}
.article__heading {
  font-size: 1.35rem;
  line-height: 1;
  margin: 0 0 1rem;
  font-weight: 300;
  color: #042A4F;
}
.article__summary {
  font-family: "Outfit", sans-serif;
  overflow: hidden;
  margin: 0;
  max-height: 6.25rem;
  position: relative;
}
.article__btn {
  margin-top: 1rem;
}
.article .highlighted-link {
  font-family: "Outfit", sans-serif;
  color: black;
  text-decoration: none;
}

/* ====== HOVER ====== */
.article:hover .article__details {
  margin-top: -9.8rem;
}
.article:hover .article__inner {
  height: 11.65rem;
}
.article:hover .article__image:after {
  opacity: 0.5;
}
.article:hover .article__image:before {
  transform: scale(1.1);
  filter: blur(10px);
}

.row-striped:nth-of-type(odd) {
  background-color: #efefef;
  border-left: 4px #FB6155 solid;
}

.row-striped:nth-of-type(even) {
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
  padding: 15px 0;
}

















/* SECCIÓN PARRAFO */
.flex-container {
 
  padding: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  gap: 10px;
  text-align: center;
}

.marca {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

.descripcion {
  font-family: "Outfit", sans-serif;
  white-space: nowrap; 
}

/* MEDIA QUERIES PARRAFO */
@media (max-width: 600px) {
  .flex-container {
      flex-direction: column;
      font-size: 1.5rem;
  }

  .descripcion {
      white-space: normal;
  }
}




























/* CONTAINER UBICACIONES, TIPS VIDEO */



.container_video {
  background-image: url('../img/IMAGECARBON.jpeg');
  background-size: cover;
  background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
  box-sizing: border-box;
  padding: 20px;
}

/* Estilo para el título */
.titulo_inner {
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #ff8000;
  width: 100%;
  max-width: 800px;
}


.video_inner {
  width: 100%;
  max-width: 800px;
  border: 2px solid #ff8000;
}

.video_inner iframe {
  width: 100%;
  height: 315px; 
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  .titulo_inner {
      font-size: 1.5rem;
  }


  @media (max-width: 600px) {
    .titulo_inner-2 {
        font-size: 1.5rem;
    }
 }
  .video_inner iframe {
      height: 250px; 
  }
}



















/* TITULO 2 */

.titulo_inner-2 {
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 800px;
}













/* CONTACTO WHATSAPP */


.newsletter-subscribe {
  
 background-color: black;
  color: white;
}

.newsletter-subscribe .container-newsletter {
padding: 20px;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
}

.newsletter-subscribe .intro h2 {
  font-family: "Outfit", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.newsletter-subscribe .intro p {
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
}

.newsletter-subscribe form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-subscribe form .form-group {
  margin-right: 10px;
}

.newsletter-subscribe form .form-control {
  width: 250px;
  height: 45px;
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #ff8000;
  box-shadow: none;
  outline: none;
  font-size: 14px;
}

.newsletter-subscribe form .btn-primary {
  border-radius: 25px;
  padding: 10px 30px;
  background-color: #ff8000;
  border-color: #56262b;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.newsletter-subscribe form .btn-primary:hover {
  background-color: #ff8000;
  border-color: #56262b;
}


















/* FOOTER */




.footer{
background: black;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
display: flex;
justify-content: space-evenly;
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:flex;
margin:10px 0px;
text-align:left;
justify-content: center;
}
.footer .row a i{
margin:0% 3%;
display: flex;
justify-content: center;
}
}



































































ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #888;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: #333;
}

a.active {
  color: #333;
}

h1, h2 {
  color: #333;
  font-weight: normal;
  margin: 1.75rem 0 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.125rem;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.description {

  border-top: 1px solid #e3dddd;
  margin: 2rem 0;
  padding: 3rem;
}

.add-to-cart {

  position: relative;
  display: inline-block;
  background: #3e3e3f;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(0);
  transition: color 0.3s ease;
  letter-spacing: 1px;
}

.add-to-cart:hover::before {
  transform: scaleX(1);
}

.add-to-cart::before {
  position: absolute;
  content: '';
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #565657;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
}



.grid > [class*="column-"] {
  padding: 1rem;
}

.grid.product {
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid #e3dddd;
}

.product-image {
  display: none;
}

.image-list li {
  margin: 0;
}

@media (min-width: 768px) {
  .product-image img, .image-list img {
    width: 100%;
  }

  .product-image {
    display: block;
  }

  .product-image img {
    height: 52vh;
  }

  .product-image img.active {
    display: block;
    margin: 0 0 0.75rem 0;
  }

  .image-list {
    display: flex;
    overflow: hidden;
  }

  .image-list li {
    margin: 0 0.75rem 0 0;
    flex-basis: 100%;
  }

  .image-list li:nth-child(3) {
    margin: 0;
  }

  .image-list img {
    height: 10rem;
    width: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .image-list img:hover {
    opacity: 0.7;
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



































@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  padding: 20px;
}
 }



 #naki {
  background-color: #56262b !important;
  
}

#naki .navbar-brand,
#naki .nav-link {
    color: #fff !important;
}



#naki .nav-link.active,
#naki .nav-link:hover {
    color: #ddd !important; /* Cambia a un gris claro al hacer hover o en el enlace activo */
}









































































.hero-section {
  width: 100%;
  max-width: 1200px;
  background: url('background-image.jpg') no-repeat center center/cover;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.main-container-2 {
  background-color: black;
  width: 100%;

}

.main-grid {
  display: flex;
  flex-direction: column; /* Asegurarse de que los sectores se apilen verticalmente */
  gap: 20px;
}

.main-sector {
  border-top: 4px solid #ff8000;
  padding-top: 15px;
  padding: 15px;
  border-radius: 0px;
  margin: 20px; /* Espacio en los lados */
}

.main-sector h2 {
  color: #ff8000;
  margin: 0 0 10px 0;
  font-size: 18px;
}

.main-sector p {
  font-size: 14px;
  margin: 5px 0 15px 0;
  color: #ccc;
}

.main-contact {
  margin-bottom: 10px;
}

.main-contact span {
  display: block;
  color: #888;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-contact a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.main-footer {
  text-align: center;
  margin-top: 20px;
}

.main-footer p {
  font-size: 14px;
  color: #888;
  margin: 0;
}

/* Media query para pantallas medianas y pequeñas */
@media (max-width: 900px) {
  .main-grid {
    flex-direction: column;
  }

  .main-sector {
    margin-bottom: 20px;
  }

  .main-sector h2 {
    font-size: 16px;
  }

  .main-sector p {
    font-size: 13px;
  }

  .main-contact a {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .main-container {
    width: 100%;
    padding: 15px;
  }

  .main-sector {
    padding: 10px;
  }

  .main-sector h2 {
    font-size: 16px;
  }

  .main-sector p {
    font-size: 13px;
  }

  .main-contact a {
    font-size: 15px;
  }
}

















/* Estilos generales para las tarjetas */
.cards {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.cards_inner {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

/* Imagen dentro de la tarjeta */
.cards_inner img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

/* Título de la tarjeta */
.cards_inner h3 {
  font-family: "Outfit", sans-serif;
  text-align: center;
  margin: 15px 0;
  font-size: 1.5em;
}

/* Descripción de la tarjeta */
.cards_inner p {
  text-align: center;
  font-size: 1em;
  color: #333;
}

/* Estilos para botones dentro de la tarjeta */
.cards_inner button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 1em;
}

.cards_inner button:hover {
  background-color: #0056b3;
}

/* Estilo para vista de escritorio */
@media (min-width: 768px) {
  .cards_inner {
    width: calc(50% - 40px); /* Dos tarjetas por fila */
  }
}








.a-products {
  color: white;
  text-decoration: none;
}



















header {
  /* Crear una cuadrícula que abarque el ancho y la altura de la vista */
  display: grid;
  grid-template-rows: 100vh;
  overflow: hidden;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
  position: relative;
}

.video-bg {
  /* Abarcar toda la cuadrícula */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-overlay {
  /* Abarcar toda la cuadrícula */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}



@media (max-width: 768px) {
  h1 {
      font-size: 1.5rem;
  }
}